<!DOCTYPE html>
<html lang="en">
<head>
    <title>Finished Job Entry System - 404</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
	<center>
	<h1>Page Not Found</h1>
	<center>
	<hr>
	</hr>
	<p>What you were looing for is just not here...</p>
	<img src="static/404-kitty.jpg">
</body>
</html>
