<!DOCTYPE html>
<html lang="en">
<head>
    <title>Finished Job Entry System - FJES</title>
	{% if dogeMode.value == true %}
		<link rel="stylesheet" href="{{ url_for('static', filename='index-doge.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	{% endif %}
</head>
<body>
	<center>
	<h1>Finished jobs</h1>
	</center>
	<hr>
	</hr>
	{% for entry in entries %}	
	<p>
		<div id="page-wrapper">
		<h2> ID: {{ entry.id }} </h2>
		<ul>
			<li> Name: {{ entry.name }} </li>
			<li> Jobtype: {{ entry.jobType }} </li>
			<li> Start: {{ entry.timeStart }} </li>
			<li> Stop: {{ entry.timeStop }} </li>
			<li> Stamps: </li>
			<ul>
				{% for stamp in entry.stamp %}
					{% for worker, time in stamp.items() %}
						<li> {{ worker }}: {{ time }} </li>
					{% endfor %}
 				{% endfor %} 
			</ul>
		</ul>
		</div>
	</p>
	{% endfor %}
</body>
</html>

