*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background:#0C090A;
  -webkit-font-smoothing: antialiased;
}

#page-wrapper {
  margin-top:60px !important;
  width: 640px;
  background: #FFFFFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 3px solid #FF6600;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  background-repeat: no-repeat;
}


h1 {
  margin-top: 20px;
  color:#FF8800;
  font-family:"above";
}

@font-face {
    font-family: "above";
    src: url("above.ttf");
}

pre {
  background: #EEE;
  padding-top: 1em;
  border-left: 5px solid #E6E6E6;
}

#disc {
  list-style-type: disc;
}

#circle {
  list-style-type: circle;
}

#square {
  list-style-type: square;
}

#decimal {
  list-style-type: decimal;
}

#decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

#lower-roman {
  list-style-type: lower-roman;
}

#upper-roman {
  list-style-type: upper-roman;
}

#lower-greek {
  list-style-type: lower-greek;
}

#lower-latin {
  list-style-type: lower-latin;
}

#upper-latin {
  list-style-type: upper-latin;
}

#armenian {
  list-style-type: armenian;
}

#georgian {
  list-style-type: georgian;
}

#lower-alpha {
  list-style-type: lower-alpha;
}

#upper-alpha {
  list-style-type: upper-alpha;
}

#none {
  list-style-type: none;
}

#outside {
  list-style-position: outside;
}

#inside {
  list-style-position: inside;
}

#image {
  line-height: 1.5em;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}
